/* Josefin Sans */
@font-face {
  font-family: 'JosefinSans';
  src: url('../Fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../Fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../Fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Titillium Web */
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../Fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('../Fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('../Fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Martel */
@font-face {
  font-family: 'Martel';
  src: url('../Fonts/Martel-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('../Fonts/Martel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('../Fonts/Martel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
